</div>
</div>

</div>
</div>
</main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/validations.js" ></script>
<script>
    $(document).ready(function() {
        <% if(flash) { %>
         <% if(flash.error) { %>
          let errorMsg = '<%=flash.error%>';
          toastr.error(errorMsg);
         <% } else if(flash.success){ %>
             let successMsg = '<%=flash.success%>';
             toastr.success(successMsg);
         <% }%>
         <% }%>
    })
   
</script>
</html>