<%- include('./layouts/header.ejs') %>

<div class="card-header">
  <div>
    <div>Home</div>
    <div>
      <a href="/logout"> Logout </a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="col">
    <div class="row">
      <div class="col-12">You are Logged In</div>
    </div>
  </div>
</div>
<%- include('./layouts/footer.ejs') %>
